/*GENERAL*/

*{
    margin:0px 0px;
    padding: 0px 0px;
}

.container-lg{
    margin:0px 0px;
    padding: 0px 0px;
}

#planche{
    backdrop-filter: blur(8px);

    margin:0px 0px;
    padding: 0px 0px;
}
.tinyBox{
    height:92px;
    width: 96px;
}
body{
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0px 0px;
    padding: 0px 0px;
}

#headerBase{
    backdrop-filter: blur(8px);
}

footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:25px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    backdrop-filter: blur(8px);
    color:#fff;
    font-size:1.3em;
    text-transform: uppercase;
    height: 5em !important;
}


#menuBurger{
    float:left;
    width:940px;
}

#couverture{
    background-image: url('../images/bg_1.jpg');
}

/*HEADER et MENU*/

#headerLogo{
    margin:0px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   height: 1em;
    width:auto;
    color:#f0ebed  !important;
    text-shadow: 2px 2px 2px #484c50;
    text-transform: uppercase;
    backdrop-filter: blur(8px);

}

header span{
    padding: 2px 2px;
    color:#ffd301;
    text-shadow: none;

}



header span{
    margin:10px 10px;
}

.nav{
    border:none;
}

/*#boutonColapse .nav .navbar-nav .nav-item .nav-link{*/
.nav-link{
    float:left;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    border: none;
    color: #fff;
    padding:5px 20px;
    border-radius: 8px;

}

.nav-item{
    float:left;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    border: none;
    border-radius: 8px;
    color: #fff;
}
    
.nav-item:hover{
    background: #fff;
    border-radius: 3px;
}

.nav-item .active{
    color: #460215 !important;
    background: #fff !important;
}


.nav-link:hover{
    background: #274d94 !important;
    color:#fff !important;
}

  
        

#planche, .navbar{
  /*  background-image: url('../images/bg_1.jpg');*/
    position: sticky;
    top:0em;
    z-index: 100;
    width: 100%;
  /*  background:rgb(36, 28, 28);
    padding-bottom: 1.5em;*/
}

.show{
    color: #fff !important;

}






#menuSpy{
    visibility: hidden;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #bb4d6c !important;
    color:#fff !important;
    padding-top:4px;
}



/* les cartes */
.tab{
    margin:0px 0px;
    padding:0px 0px;
}
.card{
    border: none;
}

.card .vignette{ 
    box-shadow: 5px 5px 5px #333;
    background: #fff;
    border-radius: 10px;
 /*   margin:10px 10px;*/
    margin: 0% 15px;
    padding: 0% 0%;
    /*padding:0px 0px 3em 0px;*/
    height:100%;
}

.card .vignette:hover{
    margin:0px 0px;
    box-shadow: 10px 10px 10px #333;

}

.card{
    background: rgba(0,0,0,0);
    margin: 10px 0px ;
   padding:10px 0px;
    z-index:1;
}

.card-header, .card-footer{
    background: rgba(0,0,0,0);
    border:none;
}

.card .funImg{
    padding:0px 0px;
    background: #ffd301;
    margin:10px 0px 0px 0px;
    z-index:1;
}

.footPage{
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}

.footPageDelete{
    position:absolute;
    bottom:0em;
    width: 100%;
}

.card-footer{
    position:absolute;
    bottom: 1.2em;
    margin:2px 2px;
    padding:10px 10px;
    text-align: center;
    width: 90%;
}

.btn-order{
    border:none;
    width: 100%;
    background: #460215;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px #333;
    margin: 8px 0px;
    font-size: 0.8em;
    border-radius: 9px;
}

.btn-order:hover{
    background: #fff;
    color:#021246;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    border: 2px solid #460215;
    margin: 4px 4px;

}

.fname ,.lname{
    font-family: Arial, sans-serif;
    display:block;
    color:#dd124c;
    text-justify:auto;
    font-size-adjust: 0.5;
    z-index:1;
    text-shadow: 2px 2px 2px rgb(104, 99, 99);
}

.lname{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.2em;
}

.fname{
    text-transform: capitalize;
    font-size: 1.0em;

}

.ticket-text{
  /*  visibility: hidden;*/
    position: relative;
    text-transform: uppercase;
    color:#000;
    margin:0.5em 0em;
    z-index:1;
    font-size-adjust: 1.2em;
   font-size: 0.8em;

}

.price{ 
    position:absolute;
    top:30px;
    right: -5px;
    background:#2ebe93;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    margin:2px 5px;
    font-size: 1.2em;
    width:auto;
    padding: 0.1em 0.5em 0.1em 0.5em;
    z-index:2;
   
}

.circle{
    border-radius: 8px;
    background: #20745a;
    color: #2ebe93;
    position: absolute;
    top:20px;
    right: -5px;
    margin:2px 5px;
    font-size: 24px;
    width:100px;
    padding: 5px 5px 5px 15px ;
    z-index:-1;
}

/* Pied de page*/















/*Admin*/

.admin{
    background:#fff;
    border-radius:10px;
    padding:50px;
    font-size: small;
    color: #000;
    
}



.dataPowerBase #headerLogo{
    margin: 50px 0px;
}

.admin h1{
    border-color: rgba(0,0,0,0);
    color: #000 ! important;
    font-size: x-large;
    
}

#dataBasePower{
    background-image: url('../images/bg.png');
    font-size:small;
    font-family:Arial, Helvetica, sans-serif;
    margin:0px 0px;
    padding: 0px 0px;
    height: 100%;
   
}

.admin .btnView, .btnUpdate, .btnDelete{
    box-shadow: 2px 2px 2px #333;
    border: 1px solid;
}


/*Viewer*/
.viewer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:none
}

.viewer .vignette{
    display:block;
    list-style: none;
    background: #fff;
    margin:0px 0px;
    padding:0px 0px 3em 0px;
    border-radius: 8px;
    border: 1px solid #333;
    box-shadow: 4px 10px 30px rgba(0,0,0,0.5);
}


.viewer .vignette{
    padding:0px;
    margin: 0px;
}

.viewer .card-body{
    color: #ffd301;
    display:block;
}

.viewer .card-footer{
    color: #ffd301;
    position: relative;
}

.viewer .ticket-text{
    color:#000;
}

.viewer .ticket-title{
    color:#460215!important;
}

.viewer .price{
    position:absolute;
    top:30px;
    right: -5px;
    background:#2ebe93;
    color:#fff;
    text-shadow: 1px 1px 1px #000;
    margin:2px 5px;
    font-size: 2em;
    width:auto;
    padding: 0.1em 0.5em 0.1em 0.5em;
    z-index:2;
   
}

/* INSERT */
.help-inline{
    color:red;
}

/* DELETE */
.btnValidate{
    box-shadow: 2px 2px 2px #333;
    border: 1px solid #000;
}

.btnCancel{
    margin-left: 1.5em;
    box-shadow: 2px 2px 2px #333;
    border: 1px solid #000;
}

.btnValidate:hover{
    background: #460215;
    box-shadow: 2px 2px 2px #333;
    border: 1px solid #000;
    color:#fff;
}

.btnCancel:hover{ 
    margin-left: 1.5em;
    background: #2ebe93;
    box-shadow: 2px 2px 2px #333;
    border: 1px solid #20745a;
    color:#fff;

}






































@media 
(max-width:576px){
    .col-sm-4 {
        background: rgba(0,0,0,0);
        margin:0px 0px;
        padding:0px 0px;
        z-index:1;
    }

    .btn-order{
        font-size: 0.8em;
        font-weight: lighter;
    }
    .ticket-title{
        font-size:larger;
        
    }
    .ticket-text{
        padding-bottom: 1.8em;
        margin: auto;
    }

    .text-center{
        height:0px;

        visibility: hidden;
    }

    #headerLogo{
        visibility: hidden;
    }

    #menuSpy{
        visibility:visible;
    }

    .nav-link{
        width: 100%;
    }
}

/* how to handle only the col-sm-4 */
@media 
(min-width: 576px)
AND
(max-width:1096px){
    .col-sm-6 {
        background: rgba(0,0,0,0);
        margin:0px 0px;
        padding:0px 0px;
        z-index:1;
        font-size: x-large;
    }

    .reduceSize{
        font-size: 0.5em;
    }

    .btn-order{
        font-size: 0.8em;
        font-weight: lighter;
    }
    .ticket-title{
        font-size:x-large;
    }
    .ticket-text{
        padding-bottom: 1.8em;
    }

    .text-center{
        height:0px;
        visibility: hidden;
    }


    #headerLogo{
        visibility: hidden;
    }
   
    #menuSpy{
        visibility:visible;
    }
    .nav-link{
        width: 100%;
    }
}


@keyframes AnimeGradient {
    0%{background-position: 0% 50%}
    25%{background-position:50% 100%}
    50%{background-position:100% 50%}
    75%{background-position:50% 0%}
}

